In [1]:
1-Ans-list=[1,2,3,44,5,66,2]

In [2]:
a=0
for i in list:
    a=a+i

print("sum of the list is --->",a)

sum of the list is ---> 123

In [3]:
sum(list)

123

In [4]:
2-Ans-list

[1, 2, 3, 44, 5, 66, 2]

In [5]:
mul=1
for i in list:
    mul=mul*i

print("multiplication of list is-->",mul)

multiplication of list is--> 174240

In [6]:
list

[1, 2, 3, 44, 5, 66, 2]

In [7]:
3-Ans-list.sort()

In [8]:
print("Smallest number insude the list is ---->",list[0])

Smallest number insude the list is ----> 1

In [9]:
4-Ans-list=[1, 2, 3, 44, 5, 66, 2]

In [ ]:
list.sort()

In [10]:
print("Max number inside the list is--->",list[len(list)-1])

Max number inside the list is---> 2

In [ ]:
5-Ans-list=[1, 2, 3, 44, 5, 66, 2]

In [ ]:
list.sort()

In [11]:
print("Second largest number inside the list is--->",list[len(list)-2])

Second largest number inside the list is---> 66

In [ ]:
6-Ans-def n_large(list,n):
    """
    list=Input list
    n=Nth highest number  
    """
    list.sort()
    list.reverse()
    print("First ",n," largest element of the list are")
    for i in range(0,n):
        print(list[i])

In [12]:
n_large([55,44,66,22,333,15,4,2,3,4,56,53222,45452],3)

NameError: name 'n_large' is not defined

In [13]:
7-Ans-# Python3 code to demonstrate
# to generate random number list
# using list comprehension + randrange()
import random

# using list comprehension + randrange()
# to generate random number list
res = [random.randrange(1, 50, 1) for i in range(7)]

# printing result
print ("Random number list is : " + str(res))

Random number list is : [5, 2, 5, 8, 20, 45, 7]

In [14]:
print("Even Number inside list res are-->")
for i in res:
    if i%2==0:
        print(i)

Even Number inside list res are-->
2
8
20

In [15]:
8-Ans--res = [random.randrange(1, 50, 1) for i in range(10)]

# printing result
print ("Random number list is : " + str(res))

Random number list is : [25, 13, 9, 36, 48, 45, 26, 39, 3, 38]

In [16]:
print("Odd Number inside list res are-->")
for i in res:
    if i%2!=0:
        print(i)

Odd Number inside list res are-->
25
13
9
45
39
3

In [ ]:
9-Ans-#this list consist empty list
list=[1,22,33,[],[12,2,3],44,5,6,(5,2,3),[]]

In [ ]:
for i in range(0,len(list)-1):
    if list[i]==[]:
        list.pop(i)

In [17]:
print("this list does not contain empty list")
list

this list does not contain empty list

[1, 2, 3, 44, 5, 66, 2]

In [18]:
10-Ans-list_original= [random.randrange(1,100) for i in range(20)]
print ("Random number list is : " + str(list_original))

Random number list is : [39, 98, 45, 88, 87, 60, 29, 33, 5, 15, 78, 98, 95, 4, 98, 19, 69, 73, 98, 47]

In [ ]:
list_clone=[]
for i in range(0,len(list_original)):
    list_clone.insert(i,list_original[i])

In [20]:
print("Clone list is -->\n",list_clone)

NameError: name 'list_clone' is not defined

In [ ]:
11.Ans-list=[11,22,22,11,44,11,456,225,522]

In [ ]:
print("occurrences of 11 inside list is-->")
list.count(11)

In [21]:
occurrences of 11 inside list is-->

SyntaxError: invalid syntax (1478438480.py, line 1)